/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  display: block;
}

ul, ol {
  list-style: none;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  padding: 1em 0 1em;
  background-color: #1f2937;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.header-logo {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.header-links {
  display: flex;
}

.header-links li {
  margin-right: 1.5em;
  font-size: 18px;
  font-weight: 400;
  color: #e5e7eb;
}

/* HERO SECTION */

.hero-section {
  background-color: #1f2937;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 8em 0 8em;
}

.hero-content {
  width: 40%
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}

.hero-description {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: .75em;
}

.signup-button {
  padding: .4em 2em;
  border-style: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 400;
  color: #f9faf8;
  background-color: #3882f6;
}

.hero-img {
  width: 50%;
}

/* INFORMATION SECTION */

.info-section {
  width: 60%;
  margin: 0 auto;
  padding: 3em 0 7em;
}

.info-title {
  margin-bottom: 1.5em;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 20%;
}

.info img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: .5em;
  border-radius: 15px;
}

.info p {
  color: #1f2937;
  text-align: center;
}

/* QUOTE SECTION */

.quote-section{
  background-color: #e5e7eb;
}

.quote-container {
  position: relative;
  width: 55%;
  margin: 0 auto;
  padding: 7em 0;
}

.inspiring-quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  position: absolute;
  bottom: 4em;
  right: 5em;
  font-size: 22px;
  font-weight: 700;
}

/* CALL TO ACTION SECTION */

.calltoaction-section {
  display: flex;
  justify-content: center;
  padding: 7em 0;
}

.calltoaction-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 3em 7.5em;
  border-radius: 10px;
  background-color: #3882f6;
}

.calltoaction-title {
  color: #f9faf8;
}

.calltoaction-instruction {
  font-size: 18px;
  color: #e5e7eb;
}

.cta-button {
  border: 3px #e5e7eb solid;
}

/* FOOTER */

footer {
  padding: 2.5em 0;
  background-color: #1f2937;
}

footer p {
  font-size: 18px;
  text-align: center;
  color: #f9faf8;
}